
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<h3>This cat is my cat!!!</h3>
<p style="catTitle">My cat is 5 years old.</p>
<img src="https://static.boredpanda.com/blog/wp-content/uploads/2018/04/handicapped-cat-rexie-the-handicat-dasha-minaeva-53-5acb4f0e2b06b__700.jpg">

@ViewData["Cats"]
